/* book-preview */

.book-preview{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
}
.book-preview img {
    width: 100%;
}