@import './views/notes-bin.css';
@import './views/notes-list.css';
@import './cmps/new-note.css';
@import './cmps/note-btns.css';
@import './cmps/sidebar.css';
@import './cmps/note-types.css';
@import './cmps/note-labels.css';


.keep-app {
    display: flex;
    position: relative;
    min-height: calc(100vh - 4em);
    color: #202123;
}