.keep-app {
    display: flex;
    flex-flow: row wrap;
}

button.fa {
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    padding: .3rem;
    border-radius: 1rem;
}

button.fa:hover,
button.pinned {
    color: #4285F4;
}

input[type="color"] {
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.keep-app .side-bar {
    border-inline-end: 1px solid lightgrey;
    width: 20%;
    height: 90vh;
}

.notes-list {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    width: 80%;
}

.note-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    border: 1px solid lightgrey;
    border-radius: .3rem;
}

.note {
    padding: .5rem;
    text-align: center;
}

.note img {
    max-width: 300px;
}

.notes-top-container {
    align-self: flex-start;
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.notes-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1.5rem;
    align-items: center;
}

.new-note,
.notes-top-container .shrinked-note-input {
    padding: .5rem;
    border: 1px solid lightgrey;
    width: 80%;
    border-radius: 1rem;
    align-self: flex-start;
}

.notes-top-container input {
    padding: .2rem;
    font-size: 1.3rem;
    border: none;
}

.notes-top-container input:focus {
    outline: none;
}

.new-note-inputs {
    display: flex;
    gap: .1rem;
    flex-direction: column;
}

.notes-list ul {
    list-style: none;
    padding: 0;
}

.notes-list ul li {
    border-bottom: 1px solid #3333;
}


.note-type-select {
    display: flex;
    justify-content: space-evenly;
}

.note-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.new-note-bottom {
    display: flex;
    padding: .5rem;
    justify-content: flex-end;
}

/* sidebar */
.side-bar-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-bar-nav {
    margin-top: 1rem;
    width: 90%;
    margin: auto;
    text-align: center;
}

.side-bar-nav a {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    padding: .5rem;
}

.side-bar-nav a:hover {
    color: #4285F4;
    outline: 1px solid gray;
    border-radius: 1rem;
}