.keep-app {
    display: flex;
    flex-flow: row wrap;
}

button.fa {
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    padding: .3rem;
    border-radius: 1rem;
}

button.fa:hover,
button.pinned {
    color: #4285F4;
}

input[type="color"] {
    background-color: transparent;
    width: 2.7rem;
    height: 2.7rem;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid #333;
    border-radius: 50%;
}

.keep-app .side-bar {
    background-color: lightgrey;
    width: 20%;
    height: 90vh;
}

.notes-list {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

.note-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    border: 1px solid lightgrey;
    border-radius: .3rem;
}

.note {
    padding: .5rem;
    text-align: center;
}

.note img {
    max-width: 300px;
}

.new-note-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-note {
    padding: .5rem;
    border: 1px solid lightgrey;
    width: 80%;
    border-radius: 1rem;
    align-self: flex-start;
}

.new-note input {
    padding: .2rem;
    font-size: 1.3rem;
    border: none;
}

.new-note input:focus {
    outline: none;
}

.new-note-inputs {
    display: flex;
    gap: .1rem;
    flex-direction: column;
}

.notes-list ul {
    list-style: none;
    padding: 0;
}

.notes-list ul li {
    border-bottom: 1px solid #3333;
}


.note-type-select {
    display: flex;
    justify-content: space-evenly;
}

.note-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.new-note-bottom {
    display: flex;
    padding: .5rem;
    justify-content: flex-end;
}